.header {
  background: linear-gradient(to top, rgba(255,255,255,0),  rgb(15, 10, 10)), url("../../images/header-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -2;

  &__wrapper {
    padding: 0 44px;
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: calc( 83.33333333333334% - 6rem );
    margin: auto;
    height: 100%;
  }

  &__hero-title {
    @include fontParams(3rem, 100%, 900);
    text-align: center;
    color: $primaryColor;
  }

  &__text-subtitle {
    @include fontParams(1.5rem, 100%, 400);
    font-family: "Roboto", sans-serif;
    color: $primaryColor;
    margin-top: 22px;
  }
  &__form-title {
    @include fontParams(1.25rem, 120%, 400);
    text-align: center;
    color: $primaryColor;
  }

  &__form-wrapper {
    margin-top: 43px;
  }

  &__form-cache {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
  }

  &__form-email {
    transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    color: $primaryColor;
    line-height: 1.5rem;
    padding: 16px 33px;
    border: 1px solid $primaryColor;
    border-radius: 5px;
  }

  &__form-btn {
    @include fontParams(33px, 100%, 900);
    padding: 16px 33px;
    margin-top: 0;
    margin-left: 0.5rem;
    background-color: red;
    color: $primaryColor;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
  }
}