.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: transparent;

  &__logo {
    color: red;
    font-size: 55px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: rgb(5, 3, 3);
    padding: 6px;
  }

  &__singin {
    font-weight: 600;
    padding: 6px 22px;
    border-radius: 0.1875rem;
    background-color: red;
    color: white;
  }
}
