* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

.nav-head {
  width: 100vw;
}

#root {
  width: 100vw;
}
